.contact-us {
    background: $color-background;
    padding: 62px 0;
}

.contact-us__title {
    margin: 0 0 17px;
}

.contact-us__content {
    max-width: 520px;
}

.contact-us__text {
    margin: 0 0 34px;
}

.contact-us__link {
    margin: 0 0 19px;
    display: flex;
    align-items: center;
    @include font($size: 25px, $height: 26px, $weight: normal);
    a {
        margin-left: 11px;
        color: $color-text;
        text-decoration: none;
    }
    &:hover {
        a {
            text-decoration: underline;
        }
    }
}

.contact-us__form {
    input, textarea {
        border: 1px solid $color-light;
        background-color: $color-light;
        padding: 10px 21px;
        border-radius: 5px;
        &:focus {
            border-color: $color-primary;
            outline: none;
        }
    }
    textarea {
        resize: none;
        width: 100%;
        height: 160px;
    }
}

.contact-us__line {
    margin-bottom: 19px;
}

.contact-us__button {
    >* {
        min-width: 117px;
    }
} 

@media (max-width: $tablet-width) {
    .contact-us {
        text-align: center;
    }

    .contact-us-container {
        flex-direction: column;
    }

    .contact-us__content {
        max-width: 100%;
        margin-bottom: 52px;
    }

    .contact-us__text {
        justify-content: center;
    }
}

@media (max-width: $mobile-big-width) {
    .contact-us__line {
        flex-direction: column;
        margin-bottom: 0;
        >* {
            margin-bottom: 19px;
        }
    }

    .contact-us__button {
        margin-top: 24px;
    }

}
