.tools__wrapper {
    padding-bottom: 90px;
    background-image: url("../img/backgrounds/tools-bg.svg");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.tools__title {
    max-width: 462px;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
}

.tools__button {
    margin-top: 60px;
    text-align: center;
}

.tool__icon {
    margin-bottom: 30px;
}

.tool__title {
    margin: 0 0 16px;
} 

@media (max-width: $tablet-width) {
    .tool-container {
        flex-wrap: wrap;
        >.tool {
            flex-basis: 43%;
        }
    }

    .tool {
        text-align: center;
    }
}

@media (max-width: $mobile-big-width) {
    .tools__button {
        margin-top: 0;
    }

    .tool-container {
        >.tool {
            flex-basis: 100%;
            margin-bottom: 47px;
        }
    }

}

