.header {
    background: $color-light;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 15px 0 17px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__buttons {
    >.button {
        margin-left: 14px;
        &:first-child {
            margin-left: 14px;
            margin-left: 0;
        }
    }
}

.header__logo-line  {
    display: flex;
}

.header__hamburger {
    margin-right: 37px;
}


@media (max-width: $tablet-width) {
    .header__wrapper {
        padding-left: 24px;
    }
}

@media (max-width: $mobile-big-width) {
    .header__logo-line {
        justify-content: center;
        flex-grow: 1;
        position: relative;
    }

    .header__buttons {
        display: none;
    }

    .header__hamburger {
        position: absolute;
        left: 0;
    }
}